@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url(../Assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@theme{
    --font-primary:"Inter";
    --color-primary:#00236F;
    --color-secondary:#FEA619;
    --color-third:#684000;
    --color-background:#E2E7FF;
    --color-quarter:#855300;
    --color-inverted:#444651;
    --color-bold:#131B2E;
    --breakpoint-xs:440px;
}

@layer base{
    body{
        font-family: var(--font-primary)
    }
    .container{
        @apply mx-auto;
        @apply px-2 md:px-0;
    }
    button{
        cursor: pointer; 
    }
    h1{
        font-size: 1.75rem;
        line-height: 2.25rem;
        font-weight: 700;
        color: #00236F;
        @variant md{
            font-size: 3rem;
            line-height: 3.75rem;
            font-weight: 700;
        }
    }
    h2{
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 700;
        color: #00236F; 
    }
    h3{
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        color: #131B2E;
    }
    h4{
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        color: #131B2E;
    }
    p{
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        color: #444651;
    }
}
@utility apply-shadow{
    @apply shadow-sm hover:shadow-md transition-all;
}
@utility logo-font{
    @apply text-primary font-bold text-xl/8 lg:text-2xl text-shadow-sm hover:text-shadow-md;
}
@utility nav-link{
    @apply font-medium text-sm text-inverted leading-5 hover:text-primary hover:font-bold transition-all ; 
}
@utility head-button{
    @apply font-bold text-sm text-inverted leading-5 px-6 py-2 rounded-lg;
}
@utility row{
    @apply flex flex-row items-center;
}
@utility col{
    @apply flex flex-col items-center;
}
@utility hero{
    @apply bg-radial from-background to-[#FAF8FF]; 
}
@utility hero-button{
    @apply font-bold text-sm text-third leading-5 px-12 py-6 rounded-xl text-center max-lg:w-full;
}
@utility hero-img{
    @apply border-4 rounded-3xl border-white shadow-2xl drop-shadow-2xl blur-[50];
}
@utility hero-tag{
    @apply w-fit rounded-full text-primary text-[12px] font-bold leading-4 tracking-[0.36px] px-4 py-2
}
@utility trustbar{
    @apply font-bold text-2xl/8 text-primary;
}
@utility trustbar2{
    @apply font-semibold text-xs text-inverted leading-4;
}
@utility how-work{
    @apply col gap-2 hover:shadow-md hover:translate-1 transition-all hover:cursor-pointer;
}
@utility how-work-p{
    @apply text-xs/4 font-semibold;
}
@utility iconborder{
    @apply w-16 h-16 bg-background flex items-center justify-center rounded-2xl;
}
@utility links-learnmore{
    @apply  text-primary text-base/6 font-bold mt-8;
}
@utility grid-card{
    @apply rounded-2xl border border-[#C5C5D3] px-8 pt-8 pb-9 col items-start justify-between gap-4;
}
@utility git-gap{
    @apply gap-x-6 gap-y-8.5;
}
@utility grid-whyUs{
    @apply rounded-2xl border border-[#C5C5D3] bg-background p-8 col items-start justify-between gap-2;
}